{%	load	static	%}
<html>				
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">								
<title>Perfectionist lounge</title>
<link	rel="stylesheet"	href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> 
<link	rel="stylesheet"	href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link	href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext"	rel="stylesheet"	type="text/css">
<link	rel="stylesheet"	href="{%	static	'css/style.css'	%}">
</head>				
<body>


<nav class= "topnav" style="background-color: black">
<a href="" style="color: white; font-size: 20px">HOME</a>
<a href="" style="color: white;  font-size: 20px">MAKEUP</a>
<a href="" style="color: white;  font-size: 20px">HAIR</a>
<a href="" style="color: white;  font-size: 20px">NAILS</a>
<a href="" style="color: white;  font-size: 20px">SPA</a>
<a href="" style="color: white;  font-size: 20px">PHOTOS</a>
<a href="" style="color: white;  font-size: 20px">ABOUT</a>
<a href="" style="color: white;  font-size: 20px">CONTACT</a>
</nav>


<div class=imacon; >
<center><img src="{% static 'name.png' %}" style= "width : 100%"></center>
</div>

<div class= "pinkline" style="background-color: ffc0cb">
</div>

<div class=imacon; >
<center><img src="{% static 'IMG_3920.jpg' %}" style= "width : 100%"></center>
</div>

</body>